footer.footer
    .container
        .row
            .col-12.col-xl-3.mb-2.mb-sm-3.mb-xl-0
                a.logo.logo_footer(href="index.html")
            .col-12.col-sm-4.col-xl-3
                ul.nav.nav_footer
                    li.nav-item
                        a.nav-link(href="#") Оплата и доставка
                    li.nav-item
                        a.nav-link(href="#") О компании
                    li.nav-item
                        a.nav-link(href="#") Реквизиты
                    li.nav-item
                        a.nav-link(href="#") Возврат товара
            .col-12.col-sm-4.col-xl-3
                ul.nav.nav_footer
                    li.nav-item
                        a.nav-link(href="#") Оплата и доставка
                    li.nav-item
                        a.nav-link(href="#") О компании
                    li.nav-item
                        a.nav-link(href="#") Реквизиты
                    li.nav-item
                        a.nav-link(href="#") Возврат товара
            .col-12.col-sm-4.col-xl-3
                ul.nav.nav_footer
                    li.nav-item
                        a.nav-link(href="#") Оплата и доставка
                    li.nav-item
                        a.nav-link(href="#") О компании
                    li.nav-item
                        a.nav-link(href="#") Реквизиты
                    li.nav-item
                        a.nav-link(href="#") Возврат товара
        .row.text-center.text-xl-left
            .col-12.col-xl-3.mt-2
                p.footer__copyright © 2020. Все права защищены.
            .col-12.col-sm-4.col-xl-3.mt-2
                a.footer__link Условия возврата товара
            .col-12.col-sm-4.col-xl-3.mt-2
                a.footer__link Условия возврата товара
            .col-12.col-sm-4.col-xl-3.mt-2
                a.footer__link Условия возврата товара