link(href='https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap', rel='stylesheet')
link(href='./fonts/Golos Text_Regular/Golos Text_Regular.css', rel='stylesheet')
link(href='./fonts/Golos Text_Medium/Golos Text_Medium.css', rel='stylesheet')
link(href='./fonts/Golos Text_Bold/Golos Text_Bold.css', rel='stylesheet')