header.header
    .item.item_information.item_temporary.py-1
        .container
            p.header__item В нашей студии возможна бесконтактная доставка любого букета или композиции
    .container.pt-3
        .row.align-items-center
            .col-12.col-xl-2
                p.header__title Санкт-Петербург
                p.header__subtitle пр. Юрия Гагарина, 7
            .col-12.col-xl-2
                p.header__title Служба доставка
                a.header__subtitle.header__subtitle_link(href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="По согласованию возможна доставка в другое время") ежедневно с 7 до 23
            .col-12.col-xl-4
                a.logo.logo_header(href="index.html")
            .col-12.col-xl-2
                a.header__title.header__title_link(href="tel:+7 (495) 120 55 77") +7 (495) 120 55 77     
                a.header__subtitle.header__subtitle_link(href="#") оставить заявку
            .col-12.col-xl-2
                a.header__cart(href="cart.html")
                    span.header__cart-icon
                    p.header__cart-title Ваша корзина
                    p.header__cart-info пока здесь пусто
    nav.navbar.navbar-expand-lg.justify-content-center
        button(button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="")
            span.navbar-toggler-icon
        .collapse.navbar-collapse.justify-content-center#navbarNav
            ul.navbar-nav
                li.nav-item
                    a.nav-link.nav-link--active(href="catalog.html") букеты
                li.nav-item
                    a.nav-link(href="catalog.html") композиции
                li.nav-item
                    a.nav-link(href="category.html") услуги
                li.nav-item
                    a.nav-link(href="text.html") доставка
                li.nav-item
                    a.nav-link(href="#") контакты