.catalog{
    padding: map-get($map: $spacers, $key: 3) 0;

    &__title{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 800;

        @extend .text-spacing-50;
    }
    &__filter-name{
        font-size: 14px;
        font-weight: 800;
    }
    &__category{
        font-size: 14px;
        margin-bottom: map-get($map: $spacers, $key: 1);
    }
    &__subcategory{
        display: block;
        font-size: 14px;
        margin-left: map-get($map: $spacers, $key: 2);
        margin-bottom: map-get($map: $spacers, $key: 1);
    }
    &__link{
        display: block;
        color: $gray-800;
        &:hover{
            color: $link-hover-color;
        }

        &--active{
            color: $pink;
            font-weight: 800;
        }
    }
    &__checkbox{
        font-size: 14px;

        & + .catalog__checkbox{
            margin-top: map-get($map: $spacers, $key: 2);
        }
    }
    &__btn{
        font-size: 14px;
        padding: 12px 20px;
        background-color: $violet;
        color: $pink-100;

        &:hover, &:focus{
            background-color: $pink;
        }
    }
}