.item{
    background-color: $white;
    border-radius: 6px;
    padding: map-get($spacers,4);

    &__title{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: map-get($spacers, 2);
    }
    &__content{
        font-size: $font-size-sm;
        line-height: 1.4;
    }
    &__image{
        display: block;
        max-width: calc(100% - 10px);
        height: auto!important;
    }
}