.content {
  p {
    font-size: $font-size-base;
    color: $gray-800;
    line-height: 1.6;
  }
  &__intro {
    font-family: $font-family-serif;
    font-style: italic;
    font-size: 16px;
    color: $gray-800;
    text-align: center;

    margin-top: map-get($map: $spacers, $key: 3);
    margin-bottom: map-get($map: $spacers, $key: 3);
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6{ 
    text-align: center;
  }
  ul {
    @extend .list;
    li {
      @extend .list__item;
      @extend .list__item_circle;

      & + li{
          margin-top: map-get($map: $spacers, $key: 1);
      }
    }
  }
}

@media all and (min-width: map-get($grid-breakpoints, 'md')){
  .content{
    &__intro{
      font-size: 22px;
      margin-bottom: map-get($map: $spacers, $key: 5);
    }
  }
}