.content {
  p {
    font-size: $font-size-base;
    color: $gray-800;
    line-height: 1.6;
  }
  .content__intro {
    font-family: $font-family-serif;
    font-style: italic;
    font-size: 22px;
    color: $gray-800;
    text-align: center;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6{ 
    text-align: center;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      position: relative;
      padding-left: map-get($map: $spacers, $key: 3);
      &:before {
        display: inline-block;
        content: "\2022";

        color: $pink;
        font-size: 28px;
        font-weight: bold;
        line-height: 24px;

        position: absolute; 
        top: 0;
        left: 0;     
      }

      & + li{
          margin-top: map-get($map: $spacers, $key: 1);
      }
    }
  }
}
