.italic-center {
        font-size: 22px;
        font-family: "Noto Serif";
        color: rgb(64, 61, 63);
        font-style: italic;
        line-height: 1.545;
        text-align: center;
      }
      