.content-section{
    padding: map-get($map: $spacers, $key: 3) 0;
    line-height: 1.6;

    &__intro{
        font-size: $font-size-sm;
        line-height: 1.4;
        color: $gray-600;
    }

    &__annotation{
        font-family: $font-family-serif;
        font-style: italic;
    }
    &__list-title{
        font-size: $font-size-sm;
        font-weight: 800;
        color: $violet;
        text-transform: uppercase;
        width: 520px;
        max-width: 100%;
        margin-bottom: map-get($map: $spacers, $key: 1);
    }
    &__list-content{
        font-size: $font-size-sm;
        color: $gray-600;
        width: 520px;
        max-width: 100%;
    }

    &__images{
        position: relative;
        padding-bottom: 100px;
        margin-bottom: map-get($map: $spacers, $key: 3);
    }
    &__image-down{
        width: 60%;
        height: 280px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__image-up{
        width: 60%;
        height: 280px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        position: absolute;
        top: 100px;
        right: 0;
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'sm')){
    .content-section{
        padding: map-get($map: $spacers, $key: 4) 0;
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'lg')){
    .content-section{
        &__images{
            margin-bottom: 0;
        }
        &__image-down{
            height: 400px;
        }
        &__image-up{
            height: 400px;
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'xl')){
    .content-section{
        padding: map-get($map: $spacers, $key: 5) 0;

        &__image-down{
            height: 500px;
        }
        &__image-up{
            height: 500px;
        }
    }
}