.content-section{
    padding: 60px 0;
    line-height: 1.6;

    &__intro{
        font-size: $font-size-sm;
        line-height: 1.4;
        color: $gray-600;
    }

    &__annotation{
        font-family: $font-family-serif;
        font-style: italic;
    }
    &__list-title{
        font-size: $font-size-sm;
        font-weight: 800;
        color: $violet;
        text-transform: uppercase;
        width: 520px;
        max-width: 100%;
        margin-bottom: map-get($map: $spacers, $key: 1);
    }
    &__list-content{
        font-size: $font-size-sm;
        color: $gray-600;
        width: 520px;
        max-width: 100%;
    }

    &__images{
        position: relative;
        padding-bottom: 100px;
    }
    &__image-down{
        width: 60%;
        height: 500px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__image-up{
        width: 60%;
        height: 500px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        position: absolute;
        top: 100px;
        right: 0;
    }
}