.btn{
    outline: none;
    border: none;
    box-shadow: none;

    // Small Add to cart
    &_add-to-cart{
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto;

        background: $pink;
        border: 10px solid $pink-200;

        transform: translateY(50%);
    }
    // pink button on text page made by WuDMC =)
    &_action {
        width: 240px;
        max-width: 100%;
        background-color: $pink;
        color: $pink-100;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 4px;
        &:hover, &:focus{
            background-color: $link-hover-color;
            color: $pink-100;
        }
    }
}