.btn{
    outline: none;
    border: none;
    box-shadow: none;

    // Small Add to cart
    &_add-to-cart{
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto;

        background: $pink;
        border: 10px solid $pink-200;

        transform: translateY(50%);
    }
}