.checkbox{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    min-height: 24px;

    &__input{
        display: none;

        &:checked + .checkbox__label:after {
            content: '';
            display: block;
            background-color: $pink;

            width: 12px;
            height: 12px;
            border-radius: 2px;

            position: absolute;
            top: 50%;
            left: 6px;
            transform: translateY(-50%);
        }
    }
    &__label{
        position: relative;
        margin: 0;
        padding-left: 34px;
        line-height: 1;

        cursor: pointer;

        &:before{
            content:'';
            display: block;

            border: 1px solid $pink-400;

            width: 24px;
            height: 24px;

            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.jGrowl {
    font-family: "Noto Sans"
}

.jGrowl#jGrowl {
    top: 50%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 99;

    .jGrowl-notification {
        width: 320px;
        padding: 40px 20px;
        border: 1px solid $pink-400;
        border-radius: 0;

        font-size: 14px;
        color: $gray-800;

        .jGrowl-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            line-height: 30px;
            width: 34px;
            text-align: center;
            border-radius: 0 0 0 15px;
            color: #fff;
            outline: 0
        }

        &.af-message-success {
            background-color: #f9fcf7!important;
            .jGrowl-close {
                background: $gray-400;
            }
        }

        &.af-message-error {
            background-color: #fef8f8!important;
            .jGrowl-close {
                background: #df0a0a;
            }
        }
    }
}
