.header{
    &__title{
        text-transform: uppercase;
        color: $violet;
        line-height: 1.1;
        font-size: 14px;
        font-weight: 800;

        @extend .mb-1;

        &_link{
            display: block;
            &:hover, &:focus{
                color: $link-hover-color;
            }
        }
    }
    &__subtitle{
        color: $violet;
        line-height: 1.1;
        font-size: 14px;

        &_link{
            text-decoration: underline;
            &:hover, &:focus{
                text-decoration: underline;
            }
        }
    }
    &__item{
        @extend .text-center;
        @extend .font-weight-bold;
        @extend .text-spacing-100;
    }

    &__cart{
        position: relative;
        display: block;
        padding-left: 50px;
    }
    &__cart-icon{
        position: absolute;
        left: 0;
        top: 0;

        width: 40px;
        height: 40px;
        background: $pink-200 url("../img/bag.svg") no-repeat center / 26px;
    }
    &__cart-title{
        text-transform: uppercase;
        color: $violet;
        line-height: 1.1;
        font-size: 14px;
        font-weight: 800;
        @extend .mb-1;
    }
    &__cart-info{
        font-family: $font-family-serif;
        font-size: 14px;
        font-style: italic;
        @extend .mb-0;

        color: $gray-800;
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'xl')){
    .header{
        &__title{
            font-size: 16px;
        }
        &__cart-title{
            font-size: 16px;
        }
    }
}