.pagination {
    display: flex;
    padding-top: 16px;
    padding-bottom: 98px;
    .pagination__item {
        color: $gray-800;
        font-weight: 800;
        padding: 0px 12px;
        &:hover {
            color:$pink;
            transition: 10ms;
        }
        &--active{
            position: relative;
            &::before{
                content: "";
                width: 16px;
                height: 4px;
                background-color: $gray-800;
                position: absolute;
                bottom: -6px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}