.preview_product{
    text-align: center;
    
    &__image{
        display: block;
        width: 100%;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &:before{
            content:'';
            display: block;
            width: 100%;
            padding-top: 100%;
        }
    }
    &__btn{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%) translateY(50%) ;
    }
    &__category{
        display: block;
        font-size: $font-size-sm;
        line-height: 1.2;
        margin-top: map-get($map: $spacers, $key: 4);
        margin-bottom: map-get($map: $spacers, $key: 1);
    }
    &__price{
        display: block;
        font-size: $font-size-sm;
        line-height: 1.2;
        margin: 0;
    }
}

@media all and (min-width: map-get($grid-breakpoints, 'xl')){
    .preview_product{
        &__category{
            margin-top: map-get($map: $spacers, $key: 5);
        }
    }
}