.nav{
    &-item{
        padding: 10px 20px;
    }
    &-link{
        font-size: $font-size-sm;
        background: $pink-200;
        color: $violet;

        padding: 4px 16px;

        &--active{
            background: $pink;
            color: $white;
        }
    }

    &_footer{
        .nav-item{
            padding: 0;
            flex: 0 0 100%;
            max-width: 100%;

            margin-bottom: map-get($map: $spacers, $key: 1);
        }
        .nav-link{
            padding: 0;
            background: inherit;
            display: block;
        }
    }
}