.pagination {
    display: flex;
    &__item {
        color: $gray-800;
        font-weight: 800;
        padding: 0px 12px;
        &:hover {
            color:$pink;
            transition: $transition-base;
        }

        &--active{
            position: relative;
            cursor: default;
            &::before{
                content: "";
                width: 16px;
                height: 4px;
                background-color: $gray-800;
                position: absolute;
                bottom: -6px;
                left: 50%;
                transform: translateX(-50%);
            }
            &:hover{
                color: $gray-800;                
            }
        }
    }

    &_gallery{
        margin-top: map-get($map: $spacers, $key: 2);
        margin-bottom: map-get($map: $spacers, $key: 5);
    }
}