html,body {
    font-size: 16px;
    line-height: 1;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6{
}

.h1,h1{font-size: 2.75rem;}
.h2,h2{font-size: 2.5rem;}
.h3,h3{font-size: 2rem;}
.h4,h4{font-size: 1.75rem;}
.h5,h5{font-size: 1.5rem;}
.h6,h6{font-size: 1.25rem;}

p {
    &:last-child{
        margin-bottom: 0;
    }
}
ol, ul{
}

a{
    text-decoration: none;
    &:hover, &:focus{
        text-decoration: none;
    }
}

.text{
    &-right{text-align: right;}
    &-center{text-align: center;}
    &-left{text-align: left;}
}
.img-fluid{
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.blockquote, blockquote{}


@media all and (min-width: map-get($grid-breakpoints, 'sm')){
    .text-sm{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .text-md{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'lg')){
    .text-lg{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'xl')){
    .text-xl{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}

@media all and (min-width: 1920px){
    html,body {
        font-size: 18px;
    }
}