html,body {
    font-size: 18px;
    line-height: 1.2;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.bg-pink-300{background-color: $pink-300;}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{ 
    font-family: $font-family-serif;
    color: $gray-800;
    line-height: 1.1;
    margin-bottom: map-get($spacers, 2);
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6{
    margin-top: map-get($spacers, 3);
}

.h1,h1{font-size: 30px;}
.h2,h2{font-size: 26px;}
.h3,h3{font-size: 24px;}
.h4,h4{font-size: 22px;}
.h5,h5{font-size: 18px;}
.h6,h6{font-size: 16px;}

p {
    margin-bottom: map-get($spacers, 3);
    &:last-child{
        margin-bottom: 0;
    }
}
ol, ul{
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: map-get($spacers, 3);
    &:last-child{
        margin-bottom: 0;
    }
}
a{
    display: inline-block;
    text-decoration: none;
    transition: $transition-base;
    &:hover, &:focus{
        text-decoration: none;
        outline: none;
    }
}
.img-fluid{
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
.b-lazy{
    opacity:0;
    transition: opacity 500ms ease-in-out 100ms;
    &.b-loaded {
        opacity: 1;
    }
}
.blockquote, blockquote{
    position: relative;
    font-family: $font-family-serif;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.6;

    color: $violet!important;
    background-color: $pink-200;

    padding: 60px 30px 30px 30px;
}
.blockquote::after, blockquote::after{
    background: url("../img/flower.svg") no-repeat center / contain;

    content: "";
    display: block;
    width: 30px;
    height: 30px;

    position: absolute;
    left: 30px;
    top: 15px;

    opacity: 0.4;
}
.tooltip-inner {
    font-size: 12px;
    line-height: 16px;
}
@media all and (min-width: map-get($grid-breakpoints, 'sm')){
}
@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .blockquote, blockquote{
        padding: 36px 54px 36px 150px;
    }
    .blockquote::after, blockquote::after{
        width: 100px;
        height: 100px;
        left: 25px;
        top: calc(50% - 50px);
        opacity: 0.2;
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'lg')){
}
@media all and (min-width: map-get($grid-breakpoints, 'xl')){
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6{ 
        line-height: 1.2;
    }
    .h1,h1{font-size: 44px;}
    .h2,h2{font-size: 36px;}
    .h3,h3{font-size: 30px;}
    .h4,h4{font-size: 26px;}
    .h5,h5{font-size: 22px;}
    .h6,h6{font-size: 18px;}
}

@media all and (min-width: 1920px){
}