@import "node_modules/bootstrap/scss/functions";

@import "variables";

@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/transitions";

@import "node_modules/bootstrap/scss/utilities/display";
@import "node_modules/bootstrap/scss/utilities/flex";
@import "node_modules/bootstrap/scss/utilities/spacing";
@import "node_modules/bootstrap/scss/utilities/text";

@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";

@import "framework";

@import "other/modal";
@import "other/button";
@import "other/header";
@import "other/footer";
@import "other/fixed-panel";

@import "text/spacing";
@import "text/color";
@import "text/style";
@import "text/link";

@import "item/item";
@import "item/alert";
@import "item/information";
@import "item/category";
@import "item/content-col";
@import "item/temporary";

@import "list/list";

@import "form/checkbox";
@import "form/radio";
@import "form/select";
@import "form/input";
@import "form/form";

@import "nav/nav";
@import "nav/navbar";
@import "nav/breadcrumbs";
@import "nav/pagination";

@import "logo/logo";
@import "logo/footer";

@import "preview/preview";
@import "preview/service";
@import "preview/product";
@import "preview/in-cart";

@import "slider/slider";
@import "slider/header";
@import "slider/product";

@import "gallery/gallery";

// Text pages 
@import "content/content";

// Section Style
@import "content/section";

// Catalog
@import "shop/catalog";
@import "shop/product";
@import "shop/cart";

.container-fluid{
    max-width: 1860px;
}
.jGrowl {
    font-family: $font-family-base;
}
.jGrowl#jGrowl {
    top: 50%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 99;

    .jGrowl-notification {
        width: 320px;
        padding: 40px 20px;
        border: 1px solid $pink-400;
        border-radius: 0;

        font-size: 14px;
        color: $gray-800;

        .jGrowl-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            line-height: 30px;
            width: 34px;
            text-align: center;
            border-radius: 0 0 0 15px;
            color: #fff;
            outline: 0
        }

        &.af-message-success {
            background-color: #f9fcf7!important;
            .jGrowl-close {
                background: $gray-400;
            }
        }

        &.af-message-error {
            background-color: #fef8f8!important;
            .jGrowl-close {
                background: #df0a0a;
            }
        }
    }
}