.header{
    @extend .pt-3;
    @extend .pb-3;

    &__title{
        text-transform: uppercase;
        color: $violet;
        line-height: 1.1;
        font-size: $font-size-sm;
        font-weight: 800;

        @extend .mb-1;

        &_link{
            display: block;
            &:hover, &:focus{
                color: $link-hover-color;
            }
        }
    }
    &__subtitle{
        color: $violet;
        line-height: 1.1;
        font-size: 12px;

        &_link{
            text-decoration: underline;
            &:hover, &:focus{
                text-decoration: underline;
            }
        }
    }

    &__cart{
        position: relative;
        display: block;
        padding-left: 40px;
    }
    &__cart-icon{
        position: absolute;
        left: 0;
        top: 0;

        width: 30px;
        height: 30px;
        background: $pink-200 url("../img/bag.svg") no-repeat center / 16px;
    }
    &__cart-title{
        text-transform: uppercase;
        color: $violet;
        line-height: 1.1;
        font-size: $font-size-sm;
        font-weight: 800;
        margin-bottom: 4px;
    }
    &__cart-info{
        font-family: $font-family-serif;
        font-style: italic;
        font-size: 12px;

        color: $gray-800;
    }
}