.radio{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;

    margin: 0;
    min-height: 24px;

    &__input{
        display: none;

        &:checked + .radio__label:after {
            content: '';
            display: block;
            background-color: $pink;

            width: 8px;
            height: 8px;
            border-radius: 4px;

            position: absolute;
            top: 50%;
            left: 8px;
            transform: translateY(-50%);
        }
    }
    &__label{
        position: relative;
        margin: 0;
        padding-left: 34px;
        line-height: 1;

        cursor: pointer;

        &:before{
            content:'';
            display: block;

            border: 1px solid $pink-400;
            border-radius: 12px;
            background-color: $white;
            width: 24px;
            height: 24px;

            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    & + .radio{
        margin-top: map-get($map: $spacers, $key: 1);
    }
}