html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cart
        include chunks/head.pug
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        section.container.cart
            .preview.preview_in-cart.mb-3
                .row.align-items-center
                    .col-2.col-xl-2
                        img.preview_in-cart__img.img-fluid(src="../img/product-1.png")
                    .col-3.col-xl-3
                        a.preview__title.preview__title_link.mb-0(href="product.html") Букет «Диана»
                    .col-1.col-xl-1
                        input.input.input_number(type="number" value=1 min=1)
                    .col-3.col-xl-2.text-center
                        p.preview_in-cart__price 6 120₽
                    .col-2.col-xl-3
                        p.preview__intro
                            span.d-block Размер: 30 см
                            span.d-block Основа букета:	сирень
                form.preview_in-cart__remove(action="")
                    input(type="hidden")
                    button.btn.btn_remove(action="cart/remove")
            .preview.preview_in-cart.mb-3
                .row.align-items-center
                    .col-2.col-xl-2
                        img.preview_in-cart__img.img-fluid(src="../img/product-2.png")
                    .col-3.col-xl-3
                        a.preview__title.preview__title_link.mb-0(href="product.html") Букет «Всё для тебя»
                    .col-1.col-xl-1
                        input.input.input_number(type="number" value=1 min=1)
                    .col-3.col-xl-2.text-center
                        p.preview_in-cart__price 6 120₽
                    .col-2.col-xl-3
                        p.preview__intro
                            span.d-block Размер: 30 см
                            span.d-block Основа букета:	сирень
                form.preview_in-cart__remove(action="")
                    input(type="hidden")
                    button.btn.btn_remove(action="cart/remove")
            form.form.row
                .col-12.col-xl-4.mb-3
                    .item.item_alert.item_content-col
                        p.text-uppercase.text-spacing-50.text-bold Выберите способ доставки
                        label.radio.cart__radio(for="delivery_1")
                            input.radio__input(checked type="radio" name="delivery" value="1" id="delivery_1")
                            span.radio__label Самовывоз
                        label.radio.cart__radio(for="delivery_2")
                            input.radio__input(type="radio" name="delivery" value="1" id="delivery_2")
                            span.radio__label Курьер в пределах КАД
                        label.radio.cart__radio(for="delivery_3")
                            input.radio__input(type="radio" name="delivery" value="1" id="delivery_3")
                            span.radio__label Курьер за пределы КАД
                .col-12.col-xl-4.mb-3
                    .item.item_alert.item_content-col
                        p.text-uppercase.text-spacing-50.text-bold Выберите способ оплаты
                        label.radio.cart__radio(for="pay_1")
                            input.radio__input(checked type="radio" name="pay" value="1" id="pay_1")
                            span.radio__label Наличными
                        label.radio.cart__radio(for="pay_2")
                            input.radio__input(type="radio" name="pay" value="1" id="pay_2")
                            span.radio__label Картой онлайн
                        label.radio.cart__radio(for="pay_3")
                            input.radio__input(type="radio" name="pay" value="1" id="pay_3")
                            span.radio__label Картой при получении
                .col-12.col-xl-4.mb-3
                    .item.item_alert.item_content-col
                        p.text-uppercase.text-spacing-50.text-bold Итоговая стоимость
                        p.cart__price.mb-1 6 120₽
                        p.text-small.text-grey Доставка за пределами рассчитывается менеджером и оплачивается отдельно
                .col-12.col-xl-6.mb-3
                    .item.item_alert.item_content-col
                        p.text-uppercase.text-spacing-50.text-bold Данные получателя
                        input.form__input.input.input--full(type="text" placeholder="Укажите ваше имя")
                        input.form__input.input.input--full.phone(type="text" placeholder="Контактный телефон *")
                        input.form__input.input.input--full(type="email" placeholder="E-mail *")
                .col-12.col-xl-6.mb-3
                    .item.item_alert.item_content-col
                        p.text-uppercase.text-spacing-50.text-bold Адрес доставки
                        input.form__input.input.input--disable.input--full(type="text" placeholder="Город" disabled)
                        input.form__input.input.input--full(type="text" placeholder="Район" disabled)
                        input.form__input.input.input--full(type="text" placeholder="Улица / дом / квартира" disabled)
                .col-12.mb-3.text-center
                    button.btn.btn_action(type=submit) Оформить заказ
        include chunks/footer.pug
        
        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")
        
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")