html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Basic Page
        include chunks/head.pug
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        .container
            .row.justify-content-center
                .col-12
                    .item.item_alert.text-center.mb-3
                        p.item__title.item_alert__title Букеты доступны в размере 30, 40 и более см
                        p.item__content.item_alert__content Любой из букетов в нашем каталоге можно заказать в нужном размере
                .col-12.col-xl-6
                    .item.item_category.item_category-flowers.mb-3.mb-xl-0
                        p.item_category__title Букеты
                        p.item__content Моно-, мужские и свадебные букеты на любой вкус
                        p
                            a.link-arrow(href="category.html") Посмотреть все
                .col-12.col-xl-6
                    .item.item_category.item_category-composition
                        p.item_category__title Композиции
                        p.item__content В стильных фирменных коробках или корзинках
                        p
                            a.link-arrow(href="category.html") Посмотреть все
        include chunks/footer.pug
 
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")