html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Text Page
        include chunks/head.pug
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        .container
            .row.justify-content-center
                nav.col-12.col-xl-10
                    ul.breadcrumb.justify-content-center
                        li.breadcrumb-item 
                            a(href="#") Главная
                        li.breadcrumb-item 
                            a(href="#") Услуги
                        li.breadcrumb-item.active Свадебное оформление цветами                           
                .col-12.col-xl-10.content
                    h1 Свадебное оформление цветами
                    p.content__intro Свадьба – это торжество, которое требует особой свадебной флористики. Цветы здесь способны создать неповторимый тон и шарм, которые потом будут оставаться в памяти, как непосредственная часть события. 
                    h2 Букет невесты – воплощение нежности и надежды
                    h3 Свадебный букет
                    p Мы предлагаем и супер модные тенденции для оформления свадьбы, и классические варианты. В данном событии лидирующее место, конечно, занимает классика. Но ни одно оформление свадьбы, которую мы готовили, не повторялось. Для каждого клиента мы предлагаем уникальный вариант оформления свадебного зала цветами. Как правило, мы проводим несколько консультаций с будущими клиентами, чтобы узнать об их пожеланиях и требованиях. Именно таким образом мы подбираем лучшее индивидуальное решение.
                    p.blockquote Maxime placeat, facere possimus, omnis voluptas nulla vero eos. Quam nihil molestiae non recusandae corrupti, quos dolores eos, qui. Id est eligendi optio, cumque nihil impedit, quo minus id, quod maxime. Eligendi optio, cumque nihil molestiae consequatur, vel illum.
                    h4 Cовременное свадебное оформление живыми цветами
                    h5 Тематика, по которой работает флорист
                    h6 Возьмем все трудности на себя
                    p Данный элемент считается наиболее важным, ведь без него не обходится ни одна свадьба. Правильно выбрать этот атрибут не сложно, но, все же, следует прислушаться к советам профессионалов. Опытные флористы советуют обращать внимание на:
                    ul
                        li тематику торжества, которая должна отразиться в букете;
                        li дизайн платья невесты, ведь оно также особенное и неповторимое, как и будущий букет;
                        li прическу, которая дополняет образ.
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")