.link-arrow{
    color: $gray-800;
    font-size: 14px;
    font-weight: 800;
    padding-right: map-get($map: $spacers, $key: 3);
    background: url("../img/arrow-right.svg") no-repeat center right / 20px;
    background-position-x: calc(100% - 4px);

    &:hover, &:focus{
        color: $link-hover-color;
        text-decoration: none;
        background-position-x: 100%;
    }
}
.link-inverse{
    color: $gray-800;        
    &:hover, &:focus{
        color: $link-hover-color;
    }
}
.link-underline{
    text-decoration: underline;
    &:hover, &:focus{
        text-decoration: underline;
    }
}