.text-serif{
    font-family: $font-family-serif;
}
.text-italic{
    font-style: italic;
}
.text-bold{
    font-weight: 800;
    font-weight: bold;
}
.text-uppercase{
    text-transform: uppercase;
}